In [15]:
#list data type . list data type is a "mutable"
'''we can declare list by using square brackets'''
students=['saima','keerthi','naveen','kalyan','sajith','praveen']
print(students)
#we are checking the datatype
print(type(students))
#again we are using title method to correct name
print(students[0].title())

['saima', 'keerthi', 'naveen', 'kalyan', 'sajith', 'praveen']
<class 'list'>
Saima

In [21]:
'''indexation'''
#req: i want to access keerthi name in the output
print(students[1])

keerthi

In [27]:
#we are using title() method
print(students[1].title())

Keerthi

In [ ]:
'''Doing multiple operations using list'''
#1.how to add new elements in the list
#2.how to modify new elements in the list
#3.how to alter new elements in the list

In [79]:
#1. I want to add adil to the list
students=['saima','keerthi','naveen','kalyan','sajith','praveen']
students.append('adil')
print(students)

['saima', 'keerthi', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil']

In [81]:
#adding 'arif' to the list
students=['saima', 'keerthi', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil']
students.append('arif')
print(students)
#  insert 'arif' at indexplace 2
students.insert(2,'arif')
print(students)

['saima', 'keerthi', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil', 'arif']
['saima', 'keerthi', 'arif', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil', 'arif']

In [83]:
# 2.I want to modify the elements in the list
students[1]='kiran'
print(students)

['saima', 'kiran', 'arif', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil', 'arif']

In [85]:
students[2]='keerthi'
print(students)

['saima', 'kiran', 'keerthi', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil', 'arif']

In [87]:
#3.I want to delete the elements from the list
del students[2]
print(students)

['saima', 'kiran', 'naveen', 'kalyan', 'sajith', 'praveen', 'adil', 'arif']